<center>
  <h1 style="font-family: Helvetica">Bouncy Box</h1>
  <%= javascript_include_tag 'bouncybox/phaser.min' %>
  <%= javascript_include_tag 'bouncybox/main' %>
  <p>Press Space to jump</p>
  <div id="gameDiv"></div>
  <br><br>
</center>