<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="nav-container">
    <nav>
      <ul>
        <li class="nav-item" id="brand">Gaurav Jhaveri</li>
        <li class="nav-item">Projects</li>
        <li class="nav-item">Resume</li>
        <li class="nav-item">Blog</li>
      </ul>
    </nav>
  </header>
        

<%= yield %>

</body>
</html>
